/static/data/download/
.idea/.gitignore
.idea/Project Flask.iml
.idea/dataSources.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
__pycache__/
data/__pycache__/
parsers/__pycache__/
static/img/
venv/
