.navbar {
    background-color: rgba(255, 255, 255, 0.9);
}

.main-form {
    text-align: center;
    font-family: Roboto, serif;
    font-style: normal;
    color: #000000;
}

.main-form img.form-icon {
    width: 70px;
    background-color: white;
}

.main-form h1 {
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    margin: 24px 0;
}

.main-form h1 span {
    background-color: white;
    padding: 0 15px;
    border-radius: 15px;
}

.main-form .group {
    max-width: 536px;
    margin: 0 auto 15px auto;
}

.main-form .group .control {
    width: 100%;
    height: 46px;
    background: #FFFFFF;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 15px;
    font-size: 20px;
    padding: 0 15px;
    font-family: Roboto, serif;
    font-style: normal;
    color: #000000;
}

.main-form .group label {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.main-form .submit {
    background: #FF0000;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 45px;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    padding: 6px 57px;
    color: #000000;
}

.main-form .group-file {
    position: relative;
}

.main-form .group .control-file {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    font-size: 150px;
    height: 100%;
    z-index:20;
}

#visible_file_name {
    text-align: center;
}

.main-form .control-btn {
    height: 46px;
    width: 100%;
    background: #FFCC00;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 45px;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.navbar-logo {
    position: absolute;
    left: 50%;
}

.navbar-logo img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: solid 2px black;
    position: relative;
    left: -60%;
    opacity: 1;
    object-fit: cover;
}

.navbar-logo img:hover {
    opacity: 0.6;
}

.custom-block {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 300;
    color: #000000;
}

.custom-block h1 {
    text-align: center;
    font-size: 40px;
    line-height: 47px
}

.custom-block #avatar {
    text-align: center;
}

.custom-block #avatar img {
    width: 171px;
    height: 171px;
    background: #FFFFFF;
    border: 5px solid #000000;
    box-sizing: border-box;
    border-radius: 50%;
    object-fit: cover;
}

.custom-block #avatar.avatar-m img {
    width: 72px;
    height: 72px;
    border-width: 3px;
}

.custom-block #avatar.avatar-m.avatar-star {
    background-image: url(/static/svg/star.svg);
    width: 174px;
    height: 165px;
    margin: 0 auto;
    padding-top: 52px;
}

.profile-form button {
    display: block;
    margin: 18px auto;
    min-width: 350px;
}

.translation-block {
    background: #FFFFFF;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 15px;
    margin-left: 0;
    margin-right: 0;
}

.translation-head {
    height: 45px;
    padding: 10px 24px;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
}

.translation-head div {
    padding: 0;
}

.translation-preamble {
    text-align: left;
    color: #FF0000;
}

.translation-datetime {
    text-align: center;
    color: #000000;
}

.translation-file-link, .translation-file-link a {
    text-align: right;
    text-decoration-line: underline;
    color: #FF0000 !important;
}

.translation-body {
    margin-top: 23px;
    margin-bottom: 16px;
    overflow: hidden;
}

.translation-body #outputText {
    width: 100%;
    border-radius: 15px;
    border: none;
    display: block;
    overflow-y: scroll;
    min-height: 300px;
    padding: 24px;
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
}

#inputText, #outputText {
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
}

.translation-footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.translation-footer form {
    margin-bottom: 10px;
}
