.navbar {
    background-color: rgba(255, 255, 255, 0.9);
}

.main-form {
    text-align: center;
    font-family: Roboto, serif;
    font-style: normal;
    color: #000000;
}

.main-form img.form-icon {
    width: 70px;
    background-color: white;
}

.main-form h1 {
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    margin: 24px 0;
}

.main-form h1 span {
    background-color: white;
    padding: 0 15px;
    border-radius: 15px;
}

.main-form .group {
    width: 536px;
    margin: 0 auto 15px auto;
}

.main-form .group .control {
    width: 100%;
    height: 46px;
    background: #FFFFFF;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 15px;
    font-size: 20px;
    padding: 0 15px;
    font-family: Roboto, serif;
    font-style: normal;
    color: #000000;
}

.main-form .group label {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.main-form .submit {
    background: #FF0000;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 45px;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    padding: 6px 57px;
}

.main-form .group-file {
    position: relative;
}

.main-form .group .control-file {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    font-size: 150px;
    height: 100%;
    z-index:20;
}

#visible_file_name {
    text-align: center;
}

.main-form .control-btn {
    height: 46px;
    width: 100%;
    background: #FFCC00;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 45px;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.navbar-logo {
    position: absolute;
    left: 50%;
}

.navbar-logo img {
    height: 40px;
    border-radius: 50%;
    border: solid 2px black;
    position: relative;
    left: -60%;
    opacity: 0.6;
}

.navbar-logo img:hover {
    opacity: 1;
}

.custom-block {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 300;
    color: #000000;
}

.custom-block h1 {
    text-align: center;
    font-size: 40px;
    line-height: 47px
}

.custom-block #avatar {
    text-align: center;
}

.custom-block #avatar img {
    width: 171px;
    height: 171px;
    background: #FFFFFF;
    border: 5px solid #000000;
    box-sizing: border-box;
    border-radius: 50%;
}