body {
    background-image: url("../svg/background.svg");
    background-position: center;
    background-attachment: fixed;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.9);
}

.main-form {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    color: #000000;
}

.main-form img.form-icon {
    width: 70px;
}

.main-form h1 {
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    margin: 24px 0;
}

.main-form .group {
    width: 536px;
    margin: 0 auto 15px auto;
}

.main-form .group .control {
    width: 100%;
    height: 46px;
    background: #FFFFFF;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 15px;
    font-size: 20px;
    padding: 0 15px;
    font-family: Roboto;
    font-style: normal;
    color: #000000;
}

.main-form .group label {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    width: 100%;
}

.main-form .submit {
    background: #FF0000;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 45px;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    padding: 6px 57px;
}

.main-form .group .control-file {
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    color: #000000;
}