body {
    padding: 60px 5px;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

footer {
    background-color: white;
    padding: 10px;
    border-top: solid 1px #dddddd;
}

footer a {
    color: black;
}

/* layout.css Style */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}

.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

#translate_btn {
    color: #fff;
    background-color: #007bff;
    border-color: #0054ad;
    background-image: linear-gradient(#007BFF, #0064D0);
}

.navbar-toggler {
    background-color: white;
}

#ModalMenu .modal-content {
    background: #FFFFFF;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 15px;
}

#ModalMenu .modal-content .modal-body {
    padding: 30px 75px;
    text-align: center;
}

#ModalMenu .modal-content .modal-body h1 {
    font-size: 36px;
    line-height: 47px;
    color: #000000;
}

#ModalMenu .modal-content .modal-body h6 {
    font-size: 14px;
    line-height: 16px;
    color: #606060;
}

#ModalMenu .modal-content .modal-body a {
    text-decoration: none;
    display: block;
    border-radius: 3px;
}

#ModalMenu .modal-content .modal-body a:hover {
    background-color: #f8f8f8;
    box-shadow: #f8f8f8 0 0 3px 3px;
}
