<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CODE Переводчик</title>
    <meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0" name="viewport">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-grid.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/primer.css">
    <link rel="stylesheet" type="text/css" href="/static/css/octicons.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style_color.css">
    <link rel="stylesheet" type="text/css" href="/static/css/toast.css">
    <link rel="stylesheet" type="text/css" href="/static/svg/fa4/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/search-field.css">
    <link rel="stylesheet" type="text/css" href="/static/fonts/Roboto/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/static/fonts/Source_Code_Pro/stylesheet.css">
    <script src="/static/js/jquery-3.4.1.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/toast.js"></script>
    <link rel="icon" href="/static/ico/favicon.ico">
</head>
<body>
<header>
    <nav class="navbar navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="modal" data-target="#ModalMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% if current_user.is_authenticated and not not_show_avatar %}
            <a class="navbar-logo" href="/profile">
                {% if current_user.avatar_s %}
                    <img src="/static/img{{ current_user.avatar_s }}" alt="profile">
                {% else %}
                    <img src="/static/svg/user.svg" alt="profile">
                {% endif %}
            </a>
        {% endif %}
        <a class="navbar-brand" href="/">
            <img src="/static/svg/file-code.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            CODE Переводчик
        </a>
    </nav>
</header>
<div class="container">
    {% block content %}{% endblock %}
</div>
<script src="/static/js/action.js"></script>
<footer class="fixed-bottom">
    <a href="http://translate.yandex.ru">Переведено сервисом «Яндекс.Переводчик»</a>
</footer>
<div class="modal fade" id="ModalMenu" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-body">
                {% if page != 'index' %}
                    <a href="/">
                        <h1>
                            На главную
                        </h1>
                        {% if not current_user.is_authenticated %}
                            <h6>
                                чтобы перевести код
                            </h6>
                        {% endif %}
                    </a>
                {% endif %}
                {% if not current_user.is_authenticated %}
                    {% if page != 'login' %}
                        <a href="/login">
                            <h1>
                                Авторизация
                            </h1>
                            <h6>
                                если у Вас уже есть аккаунт
                            </h6>
                        </a>
                    {% endif %}
                    {% if page != 'register' %}
                        <a href="/register">
                            <h1>
                                Регистрация
                            </h1>
                            <h6>
                                если у Вас ещё нет аккаунта
                            </h6>
                        </a>
                    {% endif %}
                {% endif %}
                {% if page != 'history' %}
                    {% if current_user.is_authenticated %}
                    <a href="/history">
                    {% endif %}
                        <h1>
                            История переводов
                        </h1>
                    {% if current_user.is_authenticated %}
                    </a>
                    {% else %}
                        <h6>
                            доступ только после авторизации
                        </h6>
                    {% endif %}
                {% endif %}
                {% if page != 'dictionary' %}
                    {% if current_user.is_authenticated %}
                    <a href="/dictionary">
                    {% endif %}
                        <h1>
                            Словарь
                        </h1>
                    {% if current_user.is_authenticated %}
                    </a>
                    {% else %}
                        <h6>
                            доступ только после авторизации
                        </h6>
                    {% endif %}
                {% endif %}
                {% if page != 'profile' %}
                    {% if current_user.is_authenticated %}
                    <a href="/profile">
                    {% endif %}
                        <h1>
                            Настройки профиля
                        </h1>
                    {% if current_user.is_authenticated %}
                    </a>
                    {% else %}
                        <h6>
                            доступ только после авторизации
                        </h6>
                    {% endif %}
                {% endif %}
                {% if page != 'about' %}
                    <a href="/about">
                        <h1>
                            О нас
                        </h1>
                    </a>
                    {% if not current_user.is_authenticated %}
                        <h6>
                            всегда Вам рады!
                        </h6>
                    {% endif %}
                {% endif %}
                {% if current_user.is_authenticated %}
                    <a href="/logout">
                        <h1>
                            Выйти
                        </h1>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</body>
</html>
