{% extends 'base.html' %}

{% block content %}
    <div class="custom-block">
        <h1>
            {% if page == 'history' %}
                История переводов
            {% else %}
                Словарь
            {% endif %}
        </h1>
        <br>
        <p id="avatar" class="avatar-m {% if page == 'dictionary' %} avatar-star {% endif %}">
            {% if current_user.avatar_m %}
                <img src="/static/img{{ current_user.avatar_m }}" alt="avatar">
            {% else %}
                <img src="/static/svg/user.svg" alt="avatar">
            {% endif %}
        </p>
        <br>
    </div>
    <div class="main-form">
        <form action="#" method="post" id="search-form">
            <div class="input-group md-form form-sm form-2 pl-0" id="search-field">
                <input class="form-control my-0 py-1" type="text"
                       placeholder="Поиск по {% if page == 'history' %}истории переводов{% else %}словарю{% endif %}"
                       aria-label="Search" name="search">
                <div class="input-group-append">
                    <input type="submit" id="search-btn" value="">
                    <label for="search-btn"><i class="fa fa-search" aria-hidden="true"></i></label>
                </div>
            </div>
        </form>
        <div class="translation-block translation-list">
            <div>
                {% for translation in translations %}
                    <div class="translation-item">
                        <div class="translation-item-text">
                            <a href="/{{ page_url }}/{{ translation.id }}/result">
                                <pre>{{ translation.translated_text[:300] }}</pre>
                            </a>
                            <div class="translation-head row">
                                <div class="translation-preamble col-4">
                                    {{ translation.code_lang.desc }} ({{ translation.from_lang.code|title }} -> {{ translation.to_lang.code|title }})
                                </div>
                                <div class="translation-datetime col-4">
                                    {{ translation.formatdate }}
                                </div>
                                <div class="translation-file-link col-4">
                                    <a href="/{{ page_url }}/{{ translation.id }}/result_download">
                                        {{ translation.savefilename }}
                                    </a>
                                </div>
                            </div>
                            <div class="remove_button">
                                <a href="/remove/{{ page_url }}/{{ translation.id }}">
                                    <img src="/static/svg/remove.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <style>
        body {
            background-image: url("/static/svg/background 2.svg");
            background-position: center;
            background-attachment: fixed;
        }
    </style>
{% endblock %}
