{% set page = 'profile' %}

{% extends 'base.html' %}

{% block content %}
    <div class="custom-block">
        <p id="avatar">
            {% if current_user.avatar_s %}
                <img src="../static/img{{ current_user.avatar_l }}" alt="avatar">
            {% else %}
                <img src="../static/svg/user.svg" alt="avatar">
            {% endif %}
        </p>
        <h1>
            {{ current_user.email }}
        </h1>
    </div>
    <div class="main-form profile-form">
        <button class="btn submit" type="submit" data-toggle="modal" data-target="#photoModal" >
            Сменить фото
        </button>
        <button class="btn submit" type="submit" data-toggle="modal" data-target="#passwordModal" >
            Сменить пароль
        </button>
        <button class="btn submit" type="submit" data-toggle="modal" data-target="#deleteModal" >
            Удалить аккаунт
        </button>
    </div>
    <style>
        body {
            background-image: url("static/svg/background 2.svg");
            background-position: center;
            background-attachment: fixed;
        }
    </style>
{#   ************************** МОДАЛЬНОЕ ОКНО ДЛЯ ИЗМЕНЕНИЯ ФОТОГРАФИИ *********************** #}
    <div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="photoModallLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form action="/update_photo" method="post" class="main-form" enctype="multipart/form-data">
                    {{ photo_update_form.hidden_tag() }}
                    <input type="hidden" name="max_file_size" value="{{ MAX_CONTENT_LENGTH }}">
                    <div class="modal-header">
                        <h5 class="modal-title" id="photoModalLabel">Смена фото</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="group">
                            <div class="row group-file">
                                {{ photo_update_form.photo(class="control-file", onchange="getUploadFileName(this.value);") }}
                                <div class="col-6">
                                    <button class="control-btn">Выберите файл</button>
                                </div>
                                <div class="col-6">
                                    <input type="text" class="control" id="visible_file_name" value="" placeholder="Имя файла" readonly>
                                </div>
                            </div>
                            {{ photo_update_form.photo.label }}
                            {% for error in photo_update_form.photo.errors %}
                                <div class="alert alert-danger" role="alert">
                                    <h3>
                                        {{ error }}
                                    </h3>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        {{ photo_update_form.submit(type="submit", class="btn btn-primary") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{#   ************************** МОДАЛЬНОЕ ОКНО ДЛЯ ИЗМЕНЕНИЯ ПАРОЛЯ ************************** #}
    <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form action="/update_password" method="post" class="main-form">
                    {{ password_update_form.hidden_tag() }}
                    <div class="modal-header">
                        <h5 class="modal-title" id="passwordModalLabel">Смена пароля</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="group">
                            {{ password_update_form.password_old(class="control") }}
                            {{ password_update_form.password_old.label }}
                            {% for error in password_update_form.password_old.errors %}
                                <div class="alert alert-danger" role="alert">
                                    <h3>
                                        {{ error }}
                                    </h3>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="group">
                            {{ password_update_form.password(class="control") }}
                            {{ password_update_form.password.label }}
                            {% for error in password_update_form.password.errors %}
                                <div class="alert alert-danger" role="alert">
                                    <h3>
                                        {{ error }}
                                    </h3>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="group">
                            {{ password_update_form.password_2(class="control") }}
                            {{ password_update_form.password_2.label }}
                            {% for error in password_update_form.password_2.errors %}
                                <div class="alert alert-danger" role="alert">
                                    <h3>
                                        {{ error }}
                                    </h3>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        {{ password_update_form.submit(type="submit", class="btn btn-primary") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{#   ************************** МОДАЛЬНОЕ ОКНО ДЛЯ УДАЛЕНИЯ АККАУНТА ************************** #}
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="/remove_account" class="main-form" method="post">
                    {{ password_update_form.hidden_tag() }}
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Удаление аккаунта</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h3 style="color: red">
                            <strong>
                                Вы действительно хотите удалить свой аккаунт?
                            </strong>
                        </h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
