{% extends 'base_color.html' %}

{% block content %}
    <form action="#" method="post" class="main-form" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <img src="../static/svg/file-code.svg" alt="icon" class="form-icon">
        <h1>
            <span>
                Регистрация
            </span>
        </h1>
        <div class="group">
            {{ form.email(class="control") }}
            {{ form.email.label }}
        </div>
        <div class="group">
            {{ form.password(class="control") }}
            {{ form.password.label }}
        </div>
        <div class="group">
            {{ form.password_2(class="control") }}
            {{ form.password_2.label }}
        </div>
        <div class="group">
            <div class="row group-file">
                {{ form.photo(class="control-file", onchange="getUploadFileName(this.value);") }}
                <div class="col-6">
                    <button class="control-btn">Выберите файл</button>
                </div>
                <div class="col-6">
                    <input type="text" class="control" id="visible_file_name" value="" placeholder="Имя файла" readonly>
                </div>
            </div>
            {{ form.photo.label }}<br>
        </div>
        {{ form.submit(type="submit", class="submit") }}
    </form>
{% endblock %}