{% set page = 'register' %}

{% extends 'base.html' %}

{% block content %}
    <form action="#" method="post" class="main-form" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <input type="hidden" name="max_file_size" value="{{ MAX_CONTENT_LENGTH }}">
        <img src="/static/svg/file-code.svg" alt="icon" class="form-icon">
        <h1>
            <span>
                Регистрация
            </span>
        </h1>
        <div class="group">
            {{ form.email(class="control") }}
            {{ form.email.label }}
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    <h3>
                        {{ error }}
                    </h3>
                </div>
            {% endfor %}
        </div>
        <div class="group">
            {{ form.password(class="control") }}
            {{ form.password.label }}
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    <h3>
                        {{ error }}
                    </h3>
                </div>
            {% endfor %}
        </div>
        <div class="group">
            {{ form.password_2(class="control") }}
            {{ form.password_2.label }}
            {% for error in form.password_2.errors %}
                <div class="alert alert-danger" role="alert">
                    <h3>
                        {{ error }}
                    </h3>
                </div>
            {% endfor %}
        </div>
        <div class="group">
            <div class="row group-file">
                {{ form.photo(class="control-file", onchange="getUploadFileName(this.value);") }}
                <div class="col-6">
                    <button class="control-btn">Выберите файл</button>
                </div>
                <div class="col-6">
                    <input type="text" class="control" id="visible_file_name" value="" placeholder="Имя файла" readonly>
                </div>
            </div>
            {{ form.photo.label }}
            {% for error in form.photo.errors %}
                <div class="alert alert-danger" role="alert">
                    <h3>
                        {{ error }}
                    </h3>
                </div>
            {% endfor %}
        </div>
        {% if message %}
            <div class="group">
                <div class="alert alert-danger" role="alert">
                    <h3>
                        {{ message }}
                    </h3>
                </div>
            </div>
        {% endif %}
        {{ form.submit(type="submit", class="submit") }}
    </form>
    <style>
        body {
            background-image: url("/static/svg/background.svg");
            background-position: center;
            background-attachment: fixed;
        }
    </style>
{% endblock %}
